body {
    direction: ltr !important;
    text-align: left !important;
    font: {
      family: 'Tajawal', sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Tajawal', sans-serif;
}

/* Upper Bar En */
.upper-bar {
    .navbar-nav {
        .nav-item {
            width: 120px !important;
            text-align: center;
            transition: .3s;
            &:hover {
                padding-right: 5px !important;
            }
            .nav-link {
                &:hover {
                    padding-right: 5px !important;
                }
            }
        }
    }
    .icon-search {
        .icon {
            padding: 0 5px;
            i {
                margin: 0 3px;
            }
        }
    }
    .name-search {
        right: 0;
        left: 0;
        .btn-search {
            padding-left: 0;
        }
        .button-search {
            text-align: left;
            &:hover {
                padding-left: 10px;
            }
        }
    }
}

/* Navigatio Bar */
.navbar {
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 14px;
            }
        }
    }
    .navbar-collapse {
        .icon-close {
            right: -10px;
            left: auto;
        }
    }
    .navbar-brand {
        position: absolute;
        top: 0px;
        left: 5%;
    }
}


/* Carousel */
.carousel-overlay {
    .carousel {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    text-align: left !important;
                    left: 10% !important;
                    transform: translate(0, 0);
                }
            }
        }
    }
}

/* Gloabl */
.box {
    text-align: left
}

/* Our App */
.our-apps {
    .apps-content {
        .apps-text {
            .spec-app {
                i {
                    float: left;
                }
                p {
                    float: left;
                }
            }
        }
    }
}

/* The Global Styles */
/* The Media */
.std-media {
    .std-media-content {
        .std-media-text {
            i {
                float: left;
                width: 8%;
            }
            span {
                float:left;
                width: 85%
            }
        }
    }
}
/* The Paintings */
.paintings {
    .pain-content {
        .pain-text {
            i {
                float: left;
                width: 8%;
            }
            span {
                float:left;
                width: 85%
            }
        }
    }
}

/* The Global Text To All Sections */
.text {
    i {
        float: left;
    }
    span {
        float: left;
    }
  }

.box-gallary {
    .card { 
      .card-body {
        .card-title {
          span {
            right: 0;
            left: auto;
          }
        }
      }
    }
  }

/* Footer */
.contact-us .nav-links {
    text-align: left
}